.contact-header {
  padding-top: 120px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-title {
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-para {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  width: 70%;
  text-align: center;
  display: inline-block;
}
.contact-info label {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 8px 0;
}
.btn-common {
  width: 140px;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.campus-head {
  font-size: 24px;
  text-align: left;
  color: #000;
  padding-bottom: 10px;
}
.info-para {
  font-size: 16px;
  text-align: left;
  color: #000;
  padding-bottom: 6px;
}
.info-para span {
  font-weight: bold;
}
